<%= render "common/header" %>
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('images/bg_1.jpg')">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-7">
        <h2 class="mb-0">Contacto</h2>
        <p>Unidad Educativa Particular San Fernando</p>
      </div>
    </div>
  </div>
</div>
<div class="custom-breadcrumns border-bottom">
  <div class="container">
    <a href="/">Principal</a>
    <span class="mx-3 icon-keyboard_arrow_right"></span>
    <span class="current">Contacto</span>
  </div>
</div>
<div class="site-section">
  <div class="container">
    <% @contacts.each do |c| %>
      <% if c.visible %>
        <div class="row">
          <div class="col-md-6 form-group">
            <label for="eaddress">Email</label>
            <p class="form-control-lg"><%= c.email %></p>
          </div>
          <div class="col-md-6 form-group">
            <label for="tel">Tel. Número</label>
            <p class="form-control-lg"><%= c.phone %></p>
          </div>
        </div>
      <% end %>
    <% end %>
    <% @contacts.each do |c| %>
      <% if c.visible %>
        <div class="row">
          <div class="col-md-12 form-group">
            <label for="message">Dirección</label>
            <p class="form-control-lg"><%= c.address %></p>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= render "common/footer" %>

