<div class="site-mobile-menu site-navbar-target">
  <div class="site-mobile-menu-header">
    <div class="site-mobile-menu-close mt-3">
      <span class="icon-close2 js-menu-toggle"></span>
    </div>
  </div>
  <div class="site-mobile-menu-body"></div>
</div>

<div class="py-2 bg-light">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-9 d-none d-lg-block">
        <% @contacts.each do |c| %>
          <% if c.visible %>
            <a href="/" class="small mr-3"><span class="icon-question-circle-o mr-2"></span> Tienes alguna pregunta?</a>
            <a href="/" class="small mr-3"><span class="icon-phone2 mr-2"></span><%= c.phone %></a> 
            <a href="/" class="small mr-3"><span class="icon-envelope-o mr-2"></span><%= c.email %></a> 
          <% end %>
        <% end %>

      </div>
      <%# <div class="col-lg-3 text-right">
        <a href="login.html" class="small mr-3"><span class="icon-unlock-alt"></span> Log In</a>
        <a href="register.html" class="small btn btn-primary px-4 py-2 rounded-0"><span class="icon-users"></span> Register</a>
      </div> %>
    </div>
  </div>
</div>
    
<header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">
  <div class="container">
    <div class="d-flex align-items-center">
      <div class="site-logo">
        <a href="/" class="d-block">
          <img src="images/logo.jpg" alt="Image" class="img-fluid">
        </a>
      </div>
      <div class="mr-auto">
        <nav class="site-navigation position-relative text-right" role="navigation">
          <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
            <li class="<%= 'active' if current_page?(root_path) %>">
              <a href="/" class="nav-link text-left">Principal</a>
            </li>
            <li class="has-children <%= 'active' if current_page?(aboutus_path) %>">
              <%= link_to 'Sobre Nosotros', aboutus_path, class:"nav-link text-left" %>
              <ul class="dropdown">
                <% @abouts.each do |a| %>
                  <% if !a.visible %>
                    <li><%= link_to a.title, aboutus_path %></li>
                  <% end %>
                <% end %>
              </ul>
            </li>
            <li class="<%= 'active' if current_page?(admissions_path) %>">
              <%= link_to 'Admisiones', admissions_path, class:"nav-link text-left" %>
            </li>
            <li>
              <a href="#" class="nav-link text-left">Aula virtual</a>
            </li>
            <li class="<%= 'active' if current_page?(contact_index_path) %>">
              <%= link_to 'Contacto', contact_index_path, class:"nav-link text-left" %>
            </li>
          </ul>                                                                                                                                                                                                                                                                                          </ul>
        </nav>
      </div>
      <div class="ml-auto">
        <div class="social-wrap">
          <% @contacts.each do |c| %>
            <% if c.visible %>
              <%= link_to c.facebook, :target => "_blank" do %>
                <span class="icon-facebook">
              <% end %>
              <%= link_to c.instagram, :target => "_blank" do %>
                <span class="icon-instagram">
              <% end %>
              <%= link_to c.whatsapp, :target => "_blank" do %>
                <span class="icon-whatsapp">
              <% end %>
            <% end %>
          <% end %>
          <%#<a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle text-black"><span class="icon-menu h3"></span></a>%>
        </div>
      </div>
    </div>
  </div>
</header>