<!DOCTYPE html>
<html>
  <head>
    <title>Colegio San Fernando</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/jquery-ui.css">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="css/aos.css">
    <link href="css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="css/style.css">
  </head>

  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <%= yield %>
    <div class="modal hide fade m-t-5" id="my-modal" title="Form Buy" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Contactos WhatsApp:</h5>
            <%# <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button> %>
          </div>
          <div class="modal-body">
            <% @contacts.each do |c| %>
              <% if c.visible %>
                <p>
                  <b style="margin-right: 2%">Contacto Principal: </b>
                  <span class="symbol-btn-back-to-top" style="font-size: 1.2em;">
                    <%= link_to '+'+c.whatsapp, 'https://api.whatsapp.com/send?phone='+c.whatsapp, class:"fa fa-whatsapp", alt:"WhatsApp", target: "_blank" %>
                  </span>
                </p>
                <p>
                  <b style="margin-right: 2%">Contacto Opcional: </b>
                  <span class="symbol-btn-back-to-top" style="font-size: 1.2em;">
                    <%= link_to '+'+c.whatsapp_option, 'https://api.whatsapp.com/send?phone='+c.whatsapp_option, class:"fa fa-whatsapp", alt:"WhatsApp", target: "_blank" %>
                  </span>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <!-- loader -->
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f2b326"/></svg></div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.1.min.js"></script>
    <script src="js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.mb.YTPlayer.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
